$color-theme: #ff7373;
$color-dark: #222529;
$color-light: #ffffff;
$color-light-lightgray: #f3f3f3;
$color-light-gray: #f5f5f5;
$color-gray: rgba(112, 112, 112, 0.4);

@function set-color($bgcolor){
    @if (lightness($bgcolor) > 70){
       
        @return $color-dark;

    }
    @else{
        
        @return $color-light;
    }
}

@function set-dynamic-color($value, $procent: 50%){
    @if (lightness($value) > 70){
        @return darken($value, $procent);

    }
    @else{
        @return lighten($value, $procent);

    }
}

@mixin set-colors($value){
    background-color: $value;
    color: set-color($value);
}

@mixin set-dynamic-colors($value, $procent: 50%){
    background-color: $value;
    color: set-dynamic-color($value, $procent );
}