$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-xxxl: 1600px;
$breakpoint-wide: 1920px;
$breakpoint-ultrawide: 5120px;

$breakpoint-max-width-md: 720px;
$breakpoint-max-width-lg: 960px;
$breakpoint-max-width-xl: 1140px;
$breakpoint-max-width-xxl: 1320px;
$breakpoint-max-width-xxxl: 1540px;
$breakpoint-max-width-wide: 1680px;
$breakpoint-max-width-ultrawide: 3740px;




@mixin md {
    @media (min-width: $breakpoint-md){
        @content
    }
}

@mixin lg {
    @media (min-width: $breakpoint-lg){
        @content
    }
}

@mixin xl {
    @media (min-width: $breakpoint-xl){
        @content
    }
}

@mixin xxl {
    @media (min-width: $breakpoint-xxl){
        @content
    }
}



@mixin xxxl {
    @media (min-width: $breakpoint-xxxl){
        @content
    }
}

@mixin wide {
    @media (min-width: $breakpoint-wide){
        @content
    }
}

@mixin ultrawide {
    @media (min-width: $breakpoint-ultrawide){
        @content
    }
}