.header {
max-width: 100%;

@include md {max-width: breakpoint-max-width-md;}

@include lg {max-width: breakpoint-max-width-lg;}

@include xl {max-width: breakpoint-max-width-xl;}

@include xxl {max-width: breakpoint-max-width-xxl;}

@include xxxl {max-width: breakpoint-max-width-xxxl;}

@include wide {max-width:  breakpoint-max-width-wide;}

@include wide {max-width:  breakpoint-max-width-ultrawide;}



}